<div class="card" style="width: 18rem;">
    <div class="row">
      <div class="col-md-6">
    
      
      <img class="card-img-top" src="https://th.bing.com/th/id/OIP.490SlmdZiJ0cfT_cnGAqKQHaFQ?w=247&h=180&c=7&r=0&o=5&dpr=1.5&pid=1.7" alt="Card image cap">
      <div class="card-body">
        <h6 class="card-title">Cheese Pizza</h6>
        <p class="card-text">Extra spicy</p>
        <a routerLink="cart/add" class="btn btn-primary">Cart</a>
      </div>
      </div>
    <div class="col-md-6">
      <img class="card-img-top"  src="https://th.bing.com/th/id/OIP.490SlmdZiJ0cfT_cnGAqKQHaFQ?w=247&h=180&c=7&r=0&o=5&dpr=1.5&pid=1.7" alt="Card image cap">
      <div class="card-body">
        <h6 class="card-title">[id]</h6>
        <p class="card-text">Extra cheese</p>
        <a  class="btn btn-primary " >Cart</a>
      </div>
      </div>
    </div>